<p id="notice"><%= notice %></p>

<p>
  <b>species:</b>
  <%= @vehicle.species %>
</p>

<p>
  <b>Maxweight:</b>
  <%= @vehicle.maxWeight %>
</p>

<p>
  <b>Maxvolume:</b>
  <%= @vehicle.maxVolume %>
</p>

<p>
  <b>Description:</b>
  <%= @vehicle.description %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
