<html>

<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		

		

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :totalCost %><br />
    <%= f.text_field :totalCost %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :addressFrom %><br />
    <%= f.collection_select(:addressFrom, Address.all, :id, :street)%> 
  </div>
  <div class="field">
    <%= f.label :addressTo %><br />
    <%= f.collection_select(:addressTo, Address.all, :id, :street)%> 
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br />
    <%= f.collection_select(:vehicle_id, Vehicle.all, :id, :description)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
   

<% end %>



		

</html>